.h2{
    color: red;
}

.btn{
    background-color: blue; 
    border: none;
    color: yellow;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
